{% load static %}
<!DOCTYPE html>
<html lang="es">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIENDA COMESTIBLES</title>    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <H1>TIENDA COMESTIBLES</H1>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        2025 - Proyecto de Tienda de Comestibles
    </footer>            
</body>
</html>
